
<p>
  Sejá bem vindo <%= current_user.email %>
  <% if current_user.image.present? %>
    <%= image_tag(current_user.image, size: "40") %>
  <% end %>
  <p><h1>Editar meus Dados</p></br> 
 <h2><%= link_to "Editar Usuario", edit_user_registration_path, method: :get %></h2>


</p>
<h1>Escolha a Opção</h1>
<p> 
<h2><%=link_to "Ver todos os cães", pups_path %></h2>
</p>
<p> 
<h2><%=link_to "Adicionar cão  ", new_pup_path %></h2>
</p>



</br>
<%= link_to "Sair", destroy_user_session_path, method: :delete %>