<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pup.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pup.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pup.age %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @pup.genre %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @pup.vaccine %>
</p>

<p>
  <strong>Pedigree:</strong>
  <%= @pup.pedigree %>
</p>

<p>
  <strong>Mothername:</strong>
  <%= @pup.mothername %>
</p>

<p>
  <strong>Namefather:</strong>
  <%= @pup.namefather %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pup.rg %>
</p>

<p>
  <strong>Temperament:</strong>
  <%= @pup.temperament %>
</p>

<p>
  <strong>Length:</strong>
  <%= @pup.length %>
</p>

<p>
  <strong>Alturacernelha:</strong>
  <%= @pup.alturacernelha %>
</p>

<p>
  <strong>Tipopelo:</strong>
  <%= @pup.tipopelo %>
</p>

<p>
  <strong>Corpelo:</strong>
  <%= @pup.corpelo %>
</p>

<p>
  <strong>Weigth:</strong>
  <%= @pup.weigth %>
</p>

<%= link_to 'Edit', edit_pup_path(@pup) %> |
<%= link_to 'Back', pups_path %>
